.row{
    margin: 25px;
}
.card{
    height: 100%;
    /*background-color:#53A7D8;*/
    background: linear-gradient(#53A7D8, white,#53A7D8);
}

.card-title{
font-size: 20px;
    color: black;
    font-weight: normal;
}

.card-text{
font-size: 20px;
    color: black;
    font-weight: normal;
            width: 100%;
}

button{
    width: 150px;
    background-color:#015C92 !important;
}

.buttons{
    display: flex;
    justify-content: space-around;
}