{% extends "master.html" %}
{% load static %}

{% block title %}
    Student Courses
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/courses.css' %}">
   
{% endblock %}

{% block content %}
    <div class="row">

        <nav class="navbar navbar-light bg-light justify-content-between course-nav">
            <h2 class="navbar-brand">Courses</h2>
            <form class="form-inline nav-form" action="{% url 'search_course' %}" method="GET">
                <div class="search-container">
                    <input class="form-control mr-1" type="search" name="course_name" placeholder="Course Name" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>            
        </nav>
        
        <div id="message-container" class="col-md-4 offset-4"> </div>
        <div class="col-md-4"></div>
        {% for course in courses %}
            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.course_name }}</h5>
                        <p class="card-text">{{ course.course_code }}</p>
                        <p class="card-text">{{ course.instructor_name }}</p>
                        <p class="card-text">{{ course.description }}</p>
                        <p class="card-text"><strong>Prerequisites:</strong> {{ course.prerequisites }}</p>
                        <p class="card-text"><strong>Schedule:</strong> {{ course.schedule }}</p>
                        <p class="card-text"><strong>Available Spots:</strong> {{ course.available_spots }}</p>
                    </div>

                    <div class="buttons">
                        <button class="btn btn-primary m-2 add-course-button" course_code="{{ course.course_code }}">Add course</button>
                        <button class="btn btn-primary m-2 edit-course" course_code="{{ course.course_code }}">Edit course</button>
                        <button class="btn btn-primary m-2 delete-course" course_code="{{ course.course_code }}">Delete course</button>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
