{% extends "master.html" %}
{% load static %}

{% block title %}
    Student Courses
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/courses.css' %}">
{% endblock %}

{% block content %}
<!--    <h1>Courses</h1>-->
    <div class="row">
        {% for course in courses %}
            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.course_name }}</h5>
                        <p class="card-text">{{ course.course_code }}</p>
                        <p class="card-text">{{ course.instructor_name }}</p>
                        <p class="card-text">{{ course.description }}</p>
                        <p class="card-text"><strong>Prerequisites:</strong> {{ course.prerequisites }}</p>
                        <p class="card-text"><strong>Schedule:</strong> {{ course.schedule }}</p>
                        <p class="card-text"><strong>Available Spots:</strong> {{ course.available_spots }}</p>
                    </div>

                    <div class="buttons">
                        <button class="btn btn-primary m-2" id ="add-course">Add course</button>
                        <button class="btn btn-primary m-2" id="edit-course">Edit course</button>
                        <button class="btn btn-primary m-2" id="delete-course">Delete course</button>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static '/js/course.js' %}"></script>
{% endblock %}
